@page
@model IndexModel
@{
    ViewData["Title"] = "Trang chủ";

    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
}
<section class="banner text-white text-center" style="background-image: url('https://datsan247.com/images/22.jpg'); height: 500px; background-size: cover; background-position: center;">
    <div class="container h-100 d-flex flex-column justify-content-center">
        <h2 class="font-weight-bold">Hệ Thống Hỗ Trợ Tìm Kiếm Sân Bãi Nhanh</h2>
        <p>Dữ liệu được Datsan247 cập nhật thường xuyên giúp cho người dùng tìm được sân một cách nhanh nhất</p>
        <form method="post" asp-page-handler="Search">
            <div class="input-group mt-3 justify-content-center">
                <input type="text" class="form-control" placeholder="Nhập tên sân hoặc địa chỉ..." name="Search" />
                <div class="input-group-append">
                    <button class="btn btn-warning" type="submit">Tìm kiếm</button>
                </div>
            </div>
        </form>
    </div>
</section>
<main class="my-5">
    <div class="container">
<div class="row text-center">
    <div class="col-md-4">
        <img src="https://datsan247.com/images/image_3.png" alt="Icon" class="mb-3" />
        <h4>Tìm kiếm vị trí sân</h4>
        <p>Dữ liệu sân đấu dồi dào, liên tục cập nhật, giúp bạn dễ dàng tìm kiếm theo khu vực mong muốn.</p>
    </div>
    <div class="col-md-4">
        <img src="https://datsan247.com/images/image_4.png" alt="Icon" class="mb-3" />
        <h4>Đặt lịch online</h4>
        <p>Không cần đến trực tiếp, không cần gọi điện đặt lịch, bạn hoàn toàn có thể đặt sân ở bất kì đâu có internet.</p>
    </div>
    <div class="col-md-4">
        <img src="https://datsan247.com/images/image_5.png" alt="Icon" class="mb-3" />
        <h4>Tìm đối, bắt cặp đấu</h4>
        <p>Tìm kiếm, giao lưu các đội thi đấu thể thao, kết nối, xây dựng cộng đồng thể thao sôi nổi, mạnh mẽ.</p>
    </div>
</div>
    </div>
</main>